#portal_stock_request_category .o_portal_icon img {
    width: 64px;
    height: 64px;
    max-width: 64px;
    max-height: 64px;
}

.o_sr_product_card {
    max-width: 16rem;
    margin: 0 auto;
    width: 100%;
}
